.statsBar {
  height: 40px;
  width: 100%;
  background-color: #1b5398;
  color: white;
  position: fixed;
  z-index: 999;
  .statsCell{
      height: 40px;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      p {
          margin: auto;
      }
  }
}
