.movie {
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    .title, .date{
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }
    .image {
        width: 100px;
        padding: 10px 0;
    }
}