.searchList {
  position: absolute;
  background: white;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 70vh;
  overflow: hidden;
  overflow-y: auto;
}

.searchContainer {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
}

.filtersContainer {
  height: 100vh;
  width: 200px;
  overflow: hidden;
  .filters {
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 200px;
    position: fixed;
  }
}
